# Ignore all files in the pybind/build directory
mssql_python/PyBind_Win/build/
mssql_python/pybind/build/

mssql_python/pybind/pymsbuild/build/

# @gaurav to check if this is needed or not
# mssql_python/test_scripts_python/ddbc_bindings.pyd

# Ignore pycache files and folders
__pycache__/
**/__pycache__/
*.pyc

# Ignore pytest cache
.pytest_cache/
**/.pytest_cache/

# Ignore log files
*.log
mssql_python/PyBind_Win/ddbc_bindings.pyd
