# Ignore all files in the pybind/build directory
mssql_python/pybind/build/

mssql_python/pybind/pymsbuild/build/

# Ignore pyd file
mssql_python/ddbc_bindings.pyd

# Ignore pycache files and folders
__pycache__/
**/__pycache__/
*.pyc

# Ignore pytest cache
.pytest_cache/
**/.pytest_cache/

# Ignore log files
*.log

# Ignore Visual Studio files
mssql_python/.vs
.vs

# Ignore test-*.xml files
test-*.xml
**/test-**.xml

# Ignore coverage files
.coverage
.coverage.*

# Ignore the build & mssql_python.egg-info directories
build/
mssql_python.egg-info/