trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    python -m pytest -v --capture=tee-sys
  displayName: 'Run tests'
  env:
    DB_CONNECTION_STRING: $(DB_CONNECTION_STRING)