# Testing dependencies
pytest
pytest-cov
pytest-asyncio
zstandard
coverage
unittest-xml-reporting
psutil
--extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
pyarrow; python_version < "3.15"
pyarrow==26.0.0.dev296; python_version >= "3.15"
polars

# Runtime dependencies needed for tests
azure-identity

# Build dependencies
pybind11
setuptools

# Code formatting and linting
black
autopep8
flake8
pylint
cpplint
mypy

# Type checking stubs
types-setuptools
