# Testing dependencies
pytest
pytest-cov
coverage
unittest-xml-reporting
psutil

# Build dependencies
pybind11
setuptools
setuptools-rust
maturin

# Code formatting and linting
black
autopep8
flake8
pylint
cpplint
mypy

# Type checking stubs
types-setuptools
